/* .data-table {
  width: 80%;
  margin:  auto;
}
.cell {
  color: black;
  padding: 40px;
}

.head {
  padding: 40px;
}

.table-center {
margin: auto;
} */

.ng-star-inserted {
  margin-left: 50px;
}
